<ion-view class="tradeBox">
 	<ion-header-bar align-title="center" class="tradeHeaderBot">
	    <div class="buttons">
	        <button class="button bgff" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title">交易详情</h1>
	</ion-header-bar>
	<ion-content>
		<div class="trade">
			<div class='tradeInfo tradeHead'><span class='fn16'>{{trade.content | strSubSumName}}</span><b class='fn16'>{{trade.content | strSubMon}}</b></div>
			<div class='tradeInfo' ng-if="flag == '1'"><span class='fn14'>项目名称</span><span class='fn12'>{{trade.content | strItemName}}</span></div>
			<div class='tradeInfo'><span class='fn14'>{{trade.content | strSubStyle}}</span><span class='fn12'>{{trade.content | strSubMon}}</span></div>
			<div class='tradeInfo'><span class='fn14'>交易状态</span><span class='fn12'>已完成</span></div>
			<div class='tradeInfo'><span class='fn14'>交易时间</span><span class='fn12'>{{trade.datetime}}</span></div>
			<div class='tradeInfo'><span class='fn14'>支付方式</span><span class='fn12'>{{trade.content | strSubCard}}</span></div>
		</div>
	</ion-content>
</ion-view>