<!--	页面首部	-->
<include file = "Public/header" />

<!--	页面内容	-->
<div class="moddel">
	<div class="banner">
			<img src="__PUBLIC__/image/ow//banner.png" />         
	</div>
	
	<div class="tform">
		<p class="wbar"><strong>我们的平台</strong></p>
		<p>“商消乐”协会指定的预付卡线上安全消费平台，专注生活服务行业会员的营销和管理。</p>
		<p>平台与国内保险巨头及知名律师事务所合作，引入第三方监督保障机制，保障平台用户和商户的资金安全，</p>
		<p>消除会员用户预付卡消费顾虑，乐享会员这口音，尊享高品质服务体验，同时为商家提供云端店铺管理系统、</p>
		<p>精准有效的营渠道、专业的行业大数据分析和精细的运营分析报告。</p>
	</div>
	
	<div class="mission">
		<p class="wbar"><strong>我们的使命</strong></p>
		<p>共建消费新生态</p>
	</div>
	
	<div class="mission">
		<p class="wbar"><strong>我们的目标</strong></p>
		<p>中国预付卡线上消费领导品牌</p>
	</div>
	
	<div class="value">
		<p class="wbar"><strong>我们的价值观</strong></p>
		<p>为每一位客户创造最大价值</p>
	</div>
	
</div>
  
<!--	页面尾部	-->
<include file = "Public/footer" />
