<ion-view>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">支付密码</h1>
	</ion-header-bar>
	<ion-content class='bgf0 passWordBox'>
		<div class='payTop tce mtp5 fn20'>请输入原支付密码</div>
		<div class="wrap">
		  <div class="inputBoxContainer" id="inputBoxContainer">
		    <input type="text" class="realInput"/>
		    <div class="bogusInput">
		      <input type="password" maxlength="6" disabled/>
		      <input type="password" maxlength="6" disabled/>
		      <input type="password" maxlength="6" disabled/>
		      <input type="password" maxlength="6" disabled/>
		      <input type="password" maxlength="6" disabled/>
		      <input type="password" maxlength="6" disabled/>
		    </div>
		  </div>
		</div>
	</ion-content>
</ion-view>
