<ion-view class="experBox">
	<ion-header-bar align-title="center">
	    <div class="buttons">
	        <button class="button bgff" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title">体验卡支付</h1>
	</ion-header-bar>
	<ion-content class='exper'>
		<div class="experSide">
			<div class="experHead">
				<span class="experFont">体验金额</span>
				<span class="experSum">￥：{{id.price}}元</span>
			</div>
			<div class="experFoot">温馨提示:体验卡为一次性体验使用</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<div class="experBtn" ng-click="goExper(id)">支 付</div>
	</ion-footer-bar>
</ion-view>