<ion-view  class='myBox'>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">资 料</h1>
	</ion-header-bar>
 	<ion-content class='main'>
		<div class='myShow1 plt2'>
			<a class='myShowImg' ng-click='show()'>
				<img src="http://www.runoob.com/try/demo_source/venkman.jpg">
				<span>
      				<b class='prt2'>修改头像</b>
      				<i class="icon ion-ios-arrow-right cord7"></i>
				</span>
			</a>
			<a ng-click="goSet('昵称')">
				<span>
					<span class='itemName fn16'>昵称</span>
      				<b class='fn12'>{{user.nickname}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('地址')">
				<span>
					<span class='itemName fn16'>地址</span>
      				<b class='fn12'>{{user.address}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a href='#/setphone'>
				<span>
					<span class='itemName fn16'>手机号码</span>
      				<b class='fn12'>{{user.phone}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('邮箱')">
				<span>
					<span class='itemName fn16'>邮箱</span>
      				<b class='fn12'>{{user.mail}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('性别')">
				<span>
					<span class='itemName fn16'>性别</span>
      				<b class='fn12'>{{user.sex}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('生日')">
				<span>
					<span class='itemName fn16'>生日</span>
      				<b class='fn12'></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a href='#/work'>
				<span>
					<span class='itemName fn16'>职业</span>
      				<b class='fn12'>{{user.occupation}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('教育')">
				<span>
					<span class='itemName fn16'>教育</span>
      				<b class='fn12'>{{user.education}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('婚姻')">
				<span>
					<span class='itemName fn16'>婚姻</span>
      				<b class='fn12'>{{user.mate}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a ng-click="goSet('爱好')">
				<span>
					<span class='itemName fn16'>爱好</span>
      				<b class='fn12'>{{user.hobby}}</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a href='#/setpass'>
				<span>
					<span class='itemName fn16'>修改密码</span>
      				<b class='fn12'></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar>
		<div class='last'>
			<a href="###" class='myChu'>退 出 当 前 账 号</a>
		</div>
	</ion-footer-bar>
</ion-view>