<ion-view>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">修改密码</h1>
    	<a class='corf button bge2' href="###">修改</a>
	</ion-header-bar>
	<ion-content class='bgf0 setPass'>
		<span class='lht36 plt1'>旧密码</span>
		<div class='bgff plt1'>
			<input type="text" class='fontPass' placeholder="6-16位字符，字母区分大小写"/>
		</div>
		<span class='lht36 plt1'>新密码</span>
		<div class='bgff plt1'>
			<input type="text" class='fontPass' placeholder="6-16位字符，字母区分大小写"/>
		</div>
		<ion-checkbox ng-model="mima" class='fn12'>显示密码</ion-checkbox>
</ion-content>
</ion-view>
