<!--<ion-header-bar class="bar-positive">
  <h1 class="title">当选按钮</h1>
</ion-header-bar>
         
<ion-content>
  
  <div class="list">
    
    <div class="item button item-divider" ng-click='set(data.clientSide)'> 
     	选取的值为: {{ data.clientSide }}
    </div>
    
    <ion-radio ng-repeat="item in clientSideList.str1"
               ng-value="item.value"
               ng-model="data.clientSide"
               name='server-side'>
      {{ item.text }}
    </ion-radio>
    
    <div class="item item-divider">
      Serverside, Selected Value: {{ clientSideList[1]}}
    </div>
    
    <ion-radio ng-repeat="item in clientSideList.str2"
               ng-value="item.value"
               ng-model="data.clientSide"
               name="server-side">
      {{ item.text }}
    </ion-radio>
    
  </div>
  
</ion-content>-->





<ion-view>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">职业</h1>
    	<div class='corf button bge2' ng-click="setWork(data.work)">完成</div>
	</ion-header-bar>
	<ion-content class='ionic-pseudo setWork'>
      <ion-list>
        <div class="item item-divider tce fn14">
        	通 用 职 业
        </div>
        <ion-radio 
        	ng-repeat="item in workList.common" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
		
        <div class="item item-divider tce fn14">
          IT 互 联 网
        </div>
		<ion-radio 
        	ng-repeat="item in workList.inter" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
        
        
        <div class="item item-divider tce fn14">
                          文 化 传 媒
        </div>
		<ion-radio 
        	ng-repeat="item in workList.meda" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
        
        
        <div class="item item-divider tce fn14">
           	金 融
        </div>
		<ion-radio 
        	ng-repeat="item in workList.banking" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
        
        
        <div class="item item-divider tce fn14">
           	教 育 培 训
        </div>
		<ion-radio 
        	ng-repeat="item in workList.education" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
        
        <div class="item item-divider tce fn14">
           	医 疗 生 物
        </div>
		<ion-radio 
        	ng-repeat="item in workList.medical" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
        
        <div class="item item-divider tce fn14">
           	政 府 组 织
        </div>
		<ion-radio 
        	ng-repeat="item in workList.government" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
        
        <div class="item item-divider tce fn14">
           	工 业 制 造
        </div>
		<ion-radio 
        	ng-repeat="item in workList.manufacture" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
		
		<div class="item item-divider tce fn14">
           	餐 饮 出 行
        </div>
		<ion-radio 
        	ng-repeat="item in workList.goFood" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
		
		<div class="item item-divider tce fn14">
           	服 务 业
        </div>
		<ion-radio 
        	ng-repeat="item in workList.serve" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
		
		<div class="item item-divider tce fn14">
           	其 他
        </div>
		<ion-radio 
        	ng-repeat="item in workList.rest" 
        	ng-model="data.work" 
        	ng-value="item.value" 
        	name="side">
        	{{item.text}}
        </ion-radio>
      </ion-list>
	</ion-content>
</ion-view>