<!--header start-->
<include file="Public/header"/>
<!--header end-->

<link rel="stylesheet" href="__PUBLIC__/css/admin/audit.css" />

<script src="__PUBLIC__/js/admin/audit.js"></script>
<script src="__PUBLIC__/js/admin/ws.js"></script>
<script src="__PUBLIC__/js/admin/jquery.min.js"></script>
<script src="__PUBLIC__/js/admin/jquery.imgbox.pack.js"></script>
<script src="__PUBLIC__/js/admin/show_image.js"></script>
<script src="__PUBLIC__/js/admin/zDialog.js"></script>
<script src="__PUBLIC__/js/admin/myDialog.js"></script>



<!--menu start-->
<include file="Public/menu"/>
<!--menu end-->

<div class="wrapper clearfix">
	<!--side start-->
	<include file="Public/side"/>
	<!--side end-->
	<div class="container">
		<!--content start-->
		<div class="con" id="content">
			<table class="table margt20">
				<tr class="tb-tit">
						<td style='width:10%'>序号</td>
						<volist name='table_head' id='head'>
							<td>{$head}</td>
						</volist>
				</tr>
				<volist name='table_data' id='data' key="k">
					<tr>
						<td>{$k}.</td>
						<volist name='data_index' id='index'>
							<if condition="$index eq 'astate'">
                                                                <if condition="$data.astate eq 'true'">
                                                                        <td><a class="abtn abtn-fc">审核通过</a></td>
                                                                <elseif condition="$data.astate eq 'false'"/>
                                                                        <td><a class="abtn abtn-fc" onclick="showDialog('fail_result','{$account}','{$data.muid}');">审核不通过</a></td>
                                                                <else/>
                                                                        <td>error</td>
                                                                </if>
                                                        <elseif condition="$index eq 'muid'"/>
                                                        <else/>
                                                                <td>{$data.$index}</td>
                                                        </if>

						</volist>
					</tr>
				</volist>
			</table>

			
			<div class="pagebar">
                                <div class="pagewrap">
                                       {$page}
                                </div>
                        </div>


		</div>
		<!--content end-->
	</div>
</div>
<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->

