<!--header start-->
<include file="Public/header"/>
<!--header end-->

<link rel="stylesheet" href="__PUBLIC__/css/admin/audit.css" />
<link rel="stylesheet" href="__PUBLIC__/css/admin/lanrenzhijia.css" />

<script src="__PUBLIC__/js/admin/audit.js"></script>
<script src="__PUBLIC__/js/admin/ws.js"></script>
<script src="__PUBLIC__/js/admin/jquery.min.js"></script>
<script src="__PUBLIC__/js/admin/jquery.imgbox.pack.js"></script>
<script src="__PUBLIC__/js/admin/show_image.js"></script>
<script src="__PUBLIC__/js/admin/zDialog.js"></script>
<script src="__PUBLIC__/js/admin/myDialog.js"></script>



<!--menu start-->
<include file="Public/menu"/>
<!--menu end-->

<div class="wrapper clearfix">
	<!--side start-->
	<include file="Public/side"/>
	<!--side end-->
	
	<!--content start-->
	<div class="container" style="height: auto;">
		<div class="con">
			<a href="settle">
			<input type="button"  id="ex" onclick="window.location.href('settle')"/>
			</a>
			
			<p id="dz">店主信息</p>
			
			<p id="xm">姓名:{$info.name}</p>
			<p id="xm">住宅地址:{$info.house_add}</p>
			<p id="xm">身份证号:{$info.id}</p>
			<p id="xm">身份证信息：</p>
			<img src="__PUBLIC__/Uploads/idFrontImage/{$info.muid}.png" id="image01"/>
			<img src="__PUBLIC__/Uploads/idBackImage/{$info.muid}.png" id="image02"/>
			<img src="__PUBLIC__/Uploads/idHandImage/{$info.muid}.png" id="image03" />
			
			<div>
				<a id="example1" href="__PUBLIC__/Uploads/idFrontImage/{$info.muid}.png">
				<input type="button" id="t0" value="查看原图" onclick="window.location.href('#')" /></a>
				<a id="example2" href="__PUBLIC__/Uploads/idBackImage/{$info.muid}.png">
				<input type="button" id="t1" value="查看原图" onclick="window.location.href('#')" /></a>
				<a id="example3" href="__PUBLIC__/Uploads/idHandImage/{$info.muid}.png">
				<input type="button" id="t2" value="查看原图" onclick="window.location.href('#')" /></a>
			</div>
			<p id="xm">开户人：{$info.bname}</p>
			<p id="xm">开户行：{$info.bank}</p>
			<p id="xm">银行账户：{$info.account}</p>
			
		</div>
		
		
		
		<div class="second">
			<p id="store">店铺信息</p>
			<p id="xm">店铺地址：{$info.address}{$info.full_add}</p>
			<p id="xm">联系方式：{$info.store_number}</p>
			<p id="xm">单位名称：{$info.store}</p>
			<p id="xm">所属行业：{$info.trade}</p>
			<p id="xm">营业执照：</p>
			<img src="__PUBLIC__/Uploads/licenseImage/{$info.muid}.png" id="zhuce" />
			<a id="example4" href="__PUBLIC__/Uploads/licenseImage/{$info.muid}.png">
			<input type="button" id="tt" value="查看原图" onclick="window.location.href('#')" /></a>
			
		</div>
		
		
		
		<div class="for">
			<p id="xm">法人照片</p>
			<img src="__PUBLIC__/Uploads/lpImage/{$info.muid}.png" id="zhuce" />
			<a id="example5" href="__PUBLIC__/Uploads/lpImage/{$info.muid}.png">
			<input type="button" id="tt" value="查看原图" onclick="window.location.href('#')" /></a>
		</div>
		
		<div class="thirt">
			<p id="xm">{$tip}：</p>
			<img src="__PUBLIC__/Uploads/{$dir}/{$info.muid}_01.png" id="zhuce" />
			<a id="example6" href="__PUBLIC__/Uploads/{$dir}/{$info.muid}_01.png">
				<input type="button" id="tt" value="查看原图" onclick="window.location.href('#')" /></a>
			<img src="__PUBLIC__/Uploads/{$dir}/{$info.muid}_02.png"  id="zhuce_01"/>
			<a id="example7" href="__PUBLIC__/Uploads/{$dir}/{$info.muid}_02.png">
				<input type="button" id="tt" value="查看原图" onclick="window.location.href('#')" /></a>			
		</div>
		
		
		<div class="five">
			<p id="xm">经营场地照片</p>
			<img src="__PUBLIC__/Uploads/addImage/{$info.muid}.png" id="zhuce" />
			<a id="example8" href="__PUBLIC__/Uploads/addImage/{$info.muid}.png">
			<input type="button" id="tt" value="查看原图" onclick="window.location.href('#')" /></a>
		</div>
		
		<div class="six">
			<p id="xm">营业水电票：</p>
			<img src="__PUBLIC__/Uploads/wepImage/{$info.muid}.png" id="zhuce" />
			<a id="example9" href="__PUBLIC__/Uploads/wepImage/{$info.muid}.png">
			<input type="button" id="tt" value="查看原图" onclick="window.location.href('#')" /></a>
		</div>
		
		
		
		<div class="second">
			<p id="store">紧急联系人</p>
			<p id="xm">联系人一</p>
			<p id="xm">
				<span>【姓名】：{$info.frel_name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span>【联系方式】：{$info.frel_phone}</span>
			</p>
			<p id="xm">联系人二</p>
			<p id="xm">
				<span>【姓名】：{$info.srel_name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span>【联系方式】：{$info.srel_phone}</span>
			</p>
			<p id="xm">联系人三</p>
			<p id="xm">
				<span>【姓名】：{$info.trel_name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span>【联系方式】：{$info.trel_phone}</span>
			</p>
		</div>
		
		
		
		
		<div class="nn" style="height: 150px;">
			<input type="button" id="wt" value="未通过" onclick="showDialog('failReason','{$account}','{$info.muid}');" />
			<input type="button" value="进入外审" id="ws" onclick="showDialog('auditor','{$account}','{$info.muid}');" />
			<input type="button" value="快速认证" id="ws" onclick="showDialog('inner','{$account}','{$info.muid}');" />
			<input type="button" value="预付保险认证" id="ws" onclick="showDialog('insure','{$account}','{$info.muid}');" />
		</div>
	</div>
</div>

<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->
