<!--<ion-view view-title='蹭卡'>
	<div ng-repeat='card in cardCengs'>
		<a class=" kaBox " href='#/kashiInfo/{{card.muid}}'>
			<div class='manInfo'>
				<div class='manOne'>
					<img ng-src="../../Public/Uploads/addImage/{{card.headimage}}/>
					<span class='manDate plt1'>
						<b class='sman'>{{card.nickname}}</b>
						<b class='sdate'>{{card.datetime}}</b>
					</span>
				</div>
				<div class='manTwo'>
					<span class='price core6 prt2'>￥ {{card.card_remain}}</span>
				</div>
			</div>
			<div class='store cor00 ptp1'>{{card.store}}</div>
			<div class='share fn12 prt1 pbm1 ptp1'>
				【分享】现有{{card.store}}{{card.card_remain}}元{{card.card_level}}{{card.card_type}}一张({{card.rate}}折卡)，需要的朋友尽快下手，手续费({{card.rule/10}}%)
			</div>
			<div class='sadd fn12 cor7c lht2'>
				{{card.address}}
			</div>
		</a>
	</div>
</ion-view>-->
	
<ion-view>
	<a class="kaBox" href='#/kashiInfo/3'>
		<div class='manInfo'>
			<div class='manOne'>
				<img src="img/sx20.jpg"/>
				<span class='manDate plt1'>
					<b class='sman'>路人乙</b>
					<b class='sdate'>2017-04-06</b>
				</span>
			</div>
			<div class='manTwo'>
				<span class='price core6 prt2'>￥91</span>
			</div>
		</div>
		<div class='store cor00 ptp1'>商消乐</div>
		<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
		</div>
		<div class='sadd fn12 cor7c lht2'>
			来自陕西省西安市雁塔区鱼化寨街道
		</div>
	</a>
	<a class="kaBox" href='#/kashiInfo/4'>
		<div class='manInfo'>
			<div class='manOne'>
				<img src="img/sx19.jpg"/>
				<span class='manDate plt1'>
					<b class='sman'>刘波</b>
					<b class='sdate'>2017-04-06</b>
				</span>
			</div>
			<div class='manTwo'>
				<span class='price core6 prt2'>￥91</span>
			</div>
		</div>
		<div class='store cor00 ptp1'>商消乐</div>
		<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
		</div>
		<div class='sadd fn12 cor7c lht2'>
			来自陕西省西安市雁塔区鱼化寨街道
		</div>
	</a>
</ion-view>
