<ion-view>
	<a class="kaBox" href='#/kashiInfo/3'>
		<div class='manInfo'>
			<div class='manOne'>
				<img src="img/sx20.jpg"/>
				<span class='manDate plt1'>
					<b class='sman'>路人乙</b>
					<b class='sdate'>2017-04-06</b>
				</span>
			</div>
			<div class='manTwo'>
				<span class='price core6 prt2'>￥91</span>
			</div>
		</div>
		<div class='store cor00 ptp1'>商消乐</div>
		<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
		</div>
		<div class='sadd fn12 cor7c lht2'>
			来自陕西省西安市雁塔区鱼化寨街道
		</div>
	</a>
	<a class="kaBox" href='#/kashiInfo/4'>
		<div class='manInfo'>
			<div class='manOne'>
				<img src="img/sx19.jpg"/>
				<span class='manDate plt1'>
					<b class='sman'>刘波</b>
					<b class='sdate'>2017-04-06</b>
				</span>
			</div>
			<div class='manTwo'>
				<span class='price core6 prt2'>￥91</span>
			</div>
		</div>
		<div class='store cor00 ptp1'>商消乐</div>
		<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
		</div>
		<div class='sadd fn12 cor7c lht2'>
			来自陕西省西安市雁塔区鱼化寨街道
		</div>
	</a>
</ion-view>


<ion-view>
	<a class="kaBox" href='#/kashiInfo/1'>
		<div class='manInfo'>
			<div class='manOne'>
				<img src="img/sx19.jpg"/>
				<span class='manDate plt1'>
					<b class='sman'>答案</b>
					<b class='sdate'>2017-04-06</b>
				</span>
			</div>
			<div class='manTwo'>
				<span class='price core6 prt2'>￥91</span>
			</div>
		</div>
		<div class='store cor00 ptp1'>商消乐</div>
		<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
		</div>
		<div class='sadd fn12 cor7c lht2'>
			来自陕西省西安市雁塔区鱼化寨街道
		</div>
	</a>
	<a class="kaBox" href='#/kashiInfo/2'>
		<div class='manInfo'>
			<div class='manOne'>
				<img src="img/sx20.jpg"/>
				<span class='manDate plt1'>
					<b class='sman'>张少雄</b>
					<b class='sdate'>2017-04-06</b>
				</span>
			</div>
			<div class='manTwo'>
				<span class='price core6 prt2'>￥91</span>
			</div>
		</div>
		<div class='store cor00 ptp1'>商消乐</div>
		<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
		</div>
		<div class='sadd fn12 cor7c lht2'>
			来自陕西省西安市雁塔区鱼化寨街道
		</div>
	</a>
</ion-view>