 <ion-view view-title="卡市" class='kbox'>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">卡市</h1>
	</ion-header-bar>
 	<ion-content class='ionic-pseudo has-header bgf0'>
 		<a class="kaBox" href='###'>
			<div class='manInfo'>
				<div class='manOne'>
					<img src="img/sx19.jpg"/>
					<span class='manDate plt1'>
						<b class='sman'>答案</b>
						<b class='sdate'>2017-04-06</b>
					</span>
				</div>
				<div class='manTwo'>
					<span class='price core6 prt2'>￥91</span>
				</div>
			</div>
			<div class='store cor00 ptp1'>商消乐</div>
			<div class='share fn12 prt1 pbm1 ptp1'>
				【分享】现有商消乐91元普卡储值卡一张(9折卡)，需要的朋友尽快下手，手续费(3%)
			</div>
			<div class='sadd fn12 cor7c lht2'>
				来自陕西省西安市雁塔区鱼化寨街道
			</div>
  		</a>
 	</ion-content>
 	<ion-footer-bar class='bge2'>
 			<h2 class='corf title' ng-click="show()">我 想 要</h2>
 	</ion-footer-bar>
 </ion-view>
 
 