<ion-view view-title='二手卡'>
	<div class='boxShow' ng-repeat='cards in cardSeconds'>
		<a class="kaBox" href='#/kashiInfo/{{cards.muid}}'>
			<div class='manInfo'>
				<div class='manOne'>
					<img ng-src="../../Public/Uploads/headImage/{{cards.headimage}}"/>
					<span class='manDate plt1'>
						<b class='sman'>{{cards.nickname}}</b>
						<b class='sdate'>{{cards.datetime}}</b>
					</span>
				</div>
				<div class='manTwo'>
					<span class='price core6 prt2'>￥ {{cards.card_remain}}</span>
				</div>
			</div>
			<div class='store cor00 ptp1'>{{cards.store}}</div>
			<div class='share fn12 prt1 pbm1 ptp1'>
			【分享】现有{{cards.store}}{{cards.card_remain}}元{{cards.card_level}}{{cards.card_type}}一张({{cards.rate}}折卡)，需要的朋友尽快下手，手续费({{cards.rule/10}}%)
			</div>
			<div class='sadd fn12 cor7c lht2'>
				{{cards.address}}
			</div>
		</a>
	</div>
</ion-view>
