

.navinfo{
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 45px;
	background-color: #dbdbdb;
	color: #535353;
	font-size: 18px;
}
#ihy{margin-top: -7px;}


.abtn{
	margin-left: 50px;
	padding: 2px 20px 2px 20px;
	border: 2px solid #b4b4b4;
	background-color: #fff;
	color: #535353;
	cursor: pointer;
	line-height: 90px;
}
.ctable th {
	height: 40px;
    background-color: #dbdbdb;
    font-size: 16px;
    font-weight: 400;
    text-align: center;}
.cinfo{
	margin: -2px 0 0 0;
	padding: 0 50px;
}
.ctable {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: center;
}
.cmain{
	width: auto;
}
.abt{
	padding: 2px 20px;
	*padding: 0 20px 2px 20px;
	border: 2px solid #b4b4b4;
	background-color: #fff;
	color: #535353;
	cursor: pointer;
	line-height: 50px;
}
.ctable tr.alt td {
	background-color: #ebebeb;
}
.ctable td {
    font-size: 14px;
}
.ctable th, td {
    height: 50px;
    color: #535353;}
.bj{
	margin-left: 150px;
	font-size: 18px;
	line-height: 145px;
	color: #535353;
}
.sb{
	margin-left: 150px;
	font-size: 16px;
	color: #535353;
}
.bh{width: 170px;
	height: 30px;
	border: 2px solid #CDCDCD;}
.uname{margin-left: 100px;
		font-size: 16px;
		line-height: 70px;
		color: #535353;}
.bn{width: 170px;
	height: 30px;
	margin-left: -50px;
	border: 2px solid #cdcdcd;}
.ck{margin-left: 150px;
	font-size: 16px;
	color: #535353;}
.price{
	margin-left: 180px;
	font-size: 16px;
	line-height:70px;
	color: #535353;
}
#J_register{
	cursor:pointer;
	width:90px;
	height:30px;
	background-color:#E26666;
	border:0 none;
	margin-left: 224px;
	margin-top: 80px;
}
.zd{color:#FFF;
	text-decoration: none;
	font-size: 14px;	
}
#cancel{cursor:pointer;
	width:90px;
	height:30px;
	border:0 none;
	margin-left: 30px;
	margin-top: 80px;
	border: 2px solid #DBDBDB;
	background: #FFFFFF;}
.qx{color: #000000;
	text-decoration: none;
	font-size: 14px;}
.blank{width: 100%;
		height: 240px;}
.jg{width: 90px;
margin-left: 3px;
	height: 30px;
	border: 2px solid #CDCDCD;}
