<ion-view>
	<ion-content class='cardNewBox'>
		<div class="cardUnitBox" ng-repeat='card in cardShow.share' ng-click="goShareClass(card)">
			<div class="cardNewUnit" style="background:{{card.card_temp_color}}">
					<div class="cardNewInfo">
							<span class="cardNewName">{{card.store}}</span>
							<span class="cardNewStyle">{{card.card_type}}({{card.card_level}})</span>
					</div>
			</div>
		</div>
		<div class="noUnitCards" ng-if="cardShow.share.length<=0">
			您暂时还没有分享卡哦！
		</div>
	</ion-content>
</ion-view>
