.box{
	width:100%;
	height:100%;
}

img{
	width:100%;
}

.imgList{
	height:4.6rem;
}

.imgList .lside{
	width:50%;
}

.imgList .rside{
	width:46%;
}

.her2{
	height:.8rem;
}

.tab {
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
}

.tab td{
	text-align: center;
	border: 1px solid #bdbdbd;
	width:25%;
	height:.36rem;
}

.her4{
	position:relative;
	width:100%;
	height:.5rem;
}

.her4 span{
	position:absolute;
	top:30%;
	left:30%;
	z-index: 99;
}

.her4::after{
	content:'';
	position:absolute;
	width:100%;
	height:1px;
	background: #ccc;
	top:52%;
	left:0;
}

.her5{
	border:1px solid #e3e3e3;
	border-left:.1rem solid #8f1000;
}

.her6 img{
	width:36%;
}

.her7 img{
	width:10%;
}

.imgStyle{
	display:inline-block;
	vertical-align: middle;
}

.her8{
	position: relative;
	border-bottom:1px solid #518cc3;
}

.her8::after{
	content:'';
	position:absolute;
	width:100%;
	height:3px;
	bottom:-3%;
	background: #518cc3;
}
