<ion-view>
	<ion-content class='bgf0'>
		<div class="merBox">
			<div class='merLeft'>
				<span>17629002328</span>
				<span class='cor66'>营业总额&nbsp;0</span>
			</div>
			<div class='merRght'>
				<span>审核中</span>
				<span class='cor66'>推荐奖励&nbsp;0</span>
			</div>
		</div>
		<div class="merBox">
			<div class='merLeft'>
				<span>未知</span>
				<span class='cor66'>营业总额&nbsp;0</span>
			</div>
			<div class='merRght'>
				<span>审核中</span>
				<span class='cor66'>推荐奖励&nbsp;0</span>
			</div>
		</div>
	</ion-content>
</ion-view>
