<ion-view>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">充 值</h1>
	</ion-header-bar>
	<ion-content class='bgf0'>
		<ul class='mtp1'>
			<li class='mypay bgff  plt2 prt2'>
				<span class='mypay1'>金额(￥):</span><input id="mypay2" type="text" name=""  value="" placeholder="请输入充值金额"/>
			</li>
			<li class='payStyle  bgff plt2 prt2'>
				<div>
					<i class='iconfont icon-zhifubao'></i>
					<span class='plt1'>支付宝支付</span>
				</div>
				<input type="radio" name='pay'/>
			</li>
			<li class='payStyle bgff plt2 prt2'>
				<div>
					<i class='iconfont icon-yinlianzhifu'></i>
					<span class='plt1'>银联支付</span>
				</div>
				<input type="radio" name='pay'/>
			</li>
		</ul>
		<div class='xuBtn'>
				<a href="###" class='nextGo bge2 corf'>确 认</a>
		</div>
	</ion-content>
</ion-view>
