<!-- footer-->   
<footer>
	<div class="col-1140">
		<div class="fbar clearfix">
			<div class="fcnt">
				<div class="fbar-logo">
					<img src="__PUBLIC__/image/ow/footer_logo.png" alt="">
				</div>
				<p class="finfo text1">4008&nbsp;765&nbsp;213（周一至周日：9:00 - 18:00）</p>
				<p class="finfo text2">西安市雁塔区富鱼路绿地鸿海大厦B座406</p>
				<div class="fcnt-social">
					<a href="###" id="weibo" target="_block"></a>
					<a href="javascript:;" id="wechat"></a>
				</div>
				
				<div class="wechat-qrcode" style="display: none;">
					<img src="__PUBLIC__/image/ow/gz.jpg" alt="" class="img">
				</div>
			</div>
		</div>
	</div>
	
	<div class="ficp">
		<p class="finfo"> © 2016 NUOMI.com 陕ICP证060807号.陕公网安备 110105006181号 &nbsp;&nbsp;|&nbsp;&nbsp; 工商注册号110108009499245</p>
	</div>
</footer>