<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="mobile-agent" content="format=html5;url=http://m.ofo.so">
<title>{$title}</title>

<!-- css list-->
<link href="__PUBLIC__/css/ow/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/ow/public.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/ow/joinus.css" rel="stylesheet" />
<link href="__PUBLIC__/css/ow/swiper.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/ow/spake.css"/ rel="stylesheet">
<link href="__PUBLIC__/css/ow/Hpage.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/ow/poposlides.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/ow/introduction.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/ow/joinus.css" rel="stylesheet" />
<link href="__PUBLIC__/css/ow/Pre.css" rel="stylesheet" />

<!-- js list-->
<script src="__PUBLIC__/js/ow/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/js/ow/plugin.js"></script>
<script src="__PUBLIC__/js/ow/carcount.js"></script>
<script src="__PUBLIC__/js/ow/app.min.js"></script>
<script src="__PUBLIC__/js/ow/jquery-1.10.1.min.js"></script>
<script src="__PUBLIC__/js/ow/idangerous.swiper.min.js"></script>
<script src='__PUBLIC__/js/ow/index.js'></script>
<script src="__PUBLIC__/js/ow/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/js/ow/poposlides.js"></script> 

</head>
<body>
    <div id="main">
    	<header>
    		<div id="nav" class="col-1140">
    			<div class="logo">
    				<a href="../">
                        <img src="__PUBLIC__/image/ow/logo.png" alt="">
                    </a>
    			</div>
    			<div class="nav-item nav-item-y">
    				<ul>
                        <li>
                            <a class="{$hp_pressed}" href="hp"><font><font>首页</font></font></a>
                            <span></span>
                        </li>
                        <li>
                            <a class="{$intro_pressed}" href="intro"><font><font>平台简介</font></font></a>
                            <span class="nav-out"></span>
                        </li>
                        <li>
                            <a class="{$app_pressed}" href="app"><font><font>下载APP</font></font></a>
                            <span class="nav-out"></span>
                        </li>
                        <li>
                            <a class="{$m_pressed}" href="http://www.cnconsum.com"><font><font>商户入口</font></font></a>
                            <span class="nav-out"></span>
                        </li>
                        <li>
                            <a class="{$news_pressed}" href="news"><font><font>新闻动态</font></font></a>
                            <span class="nav-out"></span>
                        </li>
                        <li>
                            <a class="{$pre_pressed}" href="pre"><font><font>预付保险</font></font></a>
                            <span class="nav-out"></span>
                        </li>
                        <li>
                            <a class="{$joinus_pressed}" href="joinus"><font><font>加入我们</font></font></a>
                            <span class="nav-out"></span>
                        </li>
    				</ul>
    			</div>
    		</div>
    	</header>
	</div>