<!--header start-->
<include file="Public/header"/>
<!--header end-->

<link rel="stylesheet" href="__PUBLIC__/css/admin/audit.css" />

<script src="__PUBLIC__/js/admin/audit.js"></script>
<script src="__PUBLIC__/js/admin/ws.js"></script>
<script src="__PUBLIC__/js/admin/jquery.min.js"></script>
<script src="__PUBLIC__/js/admin/jquery.imgbox.pack.js"></script>
<script src="__PUBLIC__/js/admin/show_image.js"></script>
<script src="__PUBLIC__/js/admin/zDialog.js"></script>
<script src="__PUBLIC__/js/admin/myDialog.js"></script>



<!--menu start-->
<include file="Public/menu"/>
<!--menu end-->

<div class="wrapper clearfix">
	<!--side start-->
	<include file="Public/side"/>
	<!--side end-->
	<div class="container">
		<ul>
		<li><a class="abtn abtn-green" style="height:200px;margin-top:50px" href="">上传认证资料</a></li>
		<li><a class="abtn abtn-orange" style="height:200px;margin-top:50px">上传图文详情资料</a></li>
		<ul>
	</div>
</div>
<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->

