
.register{
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: scroll;
}
.register .registerBox{
	width: 100%;
	height: 100%;
	background: url(../img/zhuceBg.png);
	background-size:100% 100% ;
	position: absolute;
	z-index: 10;
}
.register .statue{
	width: 100%;
	height: 20px;
	background: #EE2D45;
}
.register .registerHeader{
	height: .44rem;
    width: 100%;
    background: #EE2D45;
    line-height: .44rem;
    position: relative;
    color: #fff;
}
.register .registerHeader .returnPage{
	display: inline-block;
    width: .1rem;
    height: 0.16rem;
    position: absolute;
    left: .12rem;
    top: .14rem;
    background: url(../img/prizeReturn.png);
}
.register .registerHeader .login{
	width: .62rem;
	height: .16rem;
	position: absolute;
	right: 0;
	top: .14rem;
	line-height: .16rem;
}
.register .registerCon{
	width: 100%;
	min-height: 43px;
	position: absolute;
	bottom: .52rem;
}
.register .registerCon .iphoneNum{
	width: 3rem;
	height: .42rem;
	background: #E5E5E5;
	border-radius: 8px;
	margin: 0 auto;
	padding: .14rem .16rem;
	position: relative;
}
.register .iphoneNum .iNum{
	float: left;
	border: none;
	background: none;
	outline: none;
	color: #848484;
	width: 1.5rem;
}
.register .iphoneNum .verificationCode{
	float: right;
	color: #333333;
	height: .26rem;
	width: .8rem;
	line-height: .26rem;
	border-radius: 5px;
	position: absolute;
	top: 0.08rem;
	right: .08rem;
	-webkit-opacity: 0.8;  
    -moz-opacity: 0.8;  
    -khtml-opacity: 0.8;  
    opacity: .8;  
    filter:alpha(opacity=80);  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.register .srVerificationCode{
	display: block;
	width: 3rem;
	height: .42rem;
	background: #E5E5E5;
	border-radius: 8px;
	margin: 0 auto;
	border: none;
	outline: none;
	color: #848484;
	padding-left: .16rem;
	margin-top: 5px;
}
.register .passWord{
	display: block;
	width: 3rem;
	height: .42rem;
	background: #E5E5E5;
	border-radius: 8px;
	margin: 0 auto;
	border: none;
	outline: none;
	color: #848484;
	padding-left: .16rem;
	margin-top: 5px;
}
.register .tipTxt{
	width: 100%;
	height: .12rem;
	margin-top: 8px;
	color: #FFE65E;
	line-height: .12rem;
}
.register .registerBtn{
	width: 3rem;
	height: .42rem;
	margin: 0 auto;
	border-radius: 8px;
	background: #FFEA79;
	margin-top: 8px;
	line-height: .42rem;
	color: #CE3A38;
	font-weight: bold;
}
.register .agreement{
	width: 100%;
	height: .16rem;
	margin-top: 8px;
	color: #FFE65E;
	line-height: .16rem;
	position: relative;
	padding: 0 0 0 .84rem;
}
.register .agreement .icon{
	width: .16rem;
	height: .16rem;
	display: inline-block;
	background: url(../img/tongyi.png);
	background-size:100% 100% ;
	position: absolute;
	left: .64rem;
}
.register .agreement .txtBox{
	display: inline-block;
	width: 132px;
	text-align: left;
	font-size: 12px;
}
#rulePage{
	color: #fff;
}


/****注册遮罩****/
.registerMask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 100;
	display: none;
}
.registerMask .registerMaskCon{
	width: 100%;
	height: 100%;
	position: relative;
}
.registerMask .registerMaskCon .useNow{
	width: 1.88rem;
	height: .42rem;
	position: absolute;
	color: #fff;
	line-height: .42rem;
	left: .94rem;
	bottom: 1.56rem;
	background: #52c63b;
	border-radius: 8px;
}
.registerMask .registerMaskCon .freePrize{
	width: 1.88rem;
	height: .42rem;
	position: absolute;
	color: #fff;
	line-height: .42rem;
	left: .94rem;
	bottom: 1.04rem;
	background: #EE2D45;
	border-radius: 8px;
}

.registerMaskCon .closeBtn{
	width: .22rem;
	height: .22rem;
	position: absolute;
	top: 2.11rem;
    right: .83rem;
    z-index: 10;
    background: url(../img/closeBtn.png);
    background-size:100% 100% ;
}
.registerMaskCon .guideShare{
	width: 2.52rem;
	height: .52rem;
	position: absolute;
	right: .22rem;
	top: .15rem;
	display: none;
}
.registerMaskCon .success{
	width: 2.9rem;
	height: 2.9rem;
	position: absolute;
	right: .42rem;
	top: 1.56rem;
}

/****游戏规则遮罩弹窗****/
.ruleMask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 100;
	display: none;
}
.ruleMask .ruleMaskCon{
	width: 100%;
	height: 100%;
	background: url(../img/rule.png);
	background-size:100% ;
	position: relative;
}

.ruleMask .ruleMaskCon .zhuceRuleSureBtn{
	width: 2.03rem;
	height: .45rem;
	background: url(../img/ruleSure.png);
	position: absolute;
	left: 25%;
	top: 5.3rem;
}


.disabled{pointer-events: none;}



/****登录页面的样式*****/

.forgot_password{
	width: .68rem;
	height: .2rem;
	line-height: .18rem;
	color: #fff;
	border: 1px solid #FFEA79;
	border-radius: 3px;
	margin: .14rem 0 .22rem 2.7rem;
}
