<!--<ion-view  class='couPon'>
	<ion-content class='shangCouponBox'>
		<div class='couPonSide tce corccc mtp5' ng-if='getCoupon.length<=0'>
			<i class="couponStyle iconfont">&#xe60c;</i>
			<p>没有可用优惠券哦</p>
		</div>
		<div class="shangCouponSide">
			<div class="shangCoupon" ng-repeat="unit in getCoupon">
				<div class="shangCouponUpter">
					<div class="shangLef">
						<div class="shangImgBox">
							<img class="shangImg" src="img/coupon.png"/>
						</div>
					</div>
					<div class="shangCenter">
						<span class="shangName">{{unit.coupon_type}}券</span>
						<span class="shangDate">{{unit.date_start}}~{{unit.date_end}}</span>
					</div>
					<div class="shangMoneyBox">
						<span class="shangMoney">{{unit.sum}}</span>
						<span class="shangMoneyUnit">元</span>
					</div>
				</div>
				<div class="shangCouponUnder">
					满{{unit.pri_condition}}元{{unit.content}}
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>-->

<ion-view>
	<ion-content>
		商消乐优惠券
	</ion-content>
</ion-view>
