<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=uft-8" />

<title>风险控制</title>

<style type="text/css">
	body
	{
		font-size:12px;
		font-family:"宋体";
	}
	h3
	{
		font-size:16px;
		font-family:"宋体";
		color:#FF0000;
	}
	
	.border_style
	{
		border:1px solid;
		border-color:#000000;
		margin-top:10px;
		width:320px;
		padding-left:10px;
		padding-right:10px;
	}
	
</style>

</head>

<body>

	<div class = 'border_style' style="margin-top:20px">
	
		<h3>中国建设银行资金存管合作</h3>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商消乐与中国建设银行已签订资金存管合作协议，未来商消乐平台上的所有交易，
				都由中国建设银行提供全程的账户资金划付服务，真正实现平台与用户资金相分
				离，力保用户资金安全。
			</p> 
		
	</div>
	
	<div class = 'border_style'>
	
		<h3>中国人保财险保障资金安全</h3>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账户资金安全是由中国人民财产保险股份有限公司承保。用户在商消乐账
				户中的资金，如在交易过程中发生被他人盗转、盗用等保险事故，所造成的直
				接经济损失，由中国人民财产保险股份有限公司来保障。
			</p> 
	</div>
	
	<div class = 'border_style'>
	
		<h3>资金由第三方托管</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商消乐所有用户的资金均交由第三方支付平台监管，包括支付宝、银联、微信支付。</p>
		
	</div>
	
	<div class = 'border_style'>
	
		<h3>专业的法务保障</h3>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商消乐聘请了专业法律顾问团队对所有业务模式进行评估，确保平台所有产品合法
				合规。法律顾问亦对平台服务合规性、政策走向性等方面提供法律意见，使平台所
				有业务均有法可依，保障用户的合法权益，让用户使用放心。同时商消乐承诺保障
				用户在本平台的隐私信息的安全，所有合同与规章制度均合法合规，保障用户所有
				操作均合法有效。
			</p> 
		
	</div>
	
	<div class = 'border_style'>
	
		<h3>中国消协全面监督</h3>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国消协将联合商消乐对平台上的相关商品和服务进行全面监督，听取消费者的意
				见和建议，保护消费者合法权益，及时引导广大消费者合理、科学消费。
			</p> 
	</div>

</body>


</html>
