<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=uft-8" />

<title>代金卷使用规则</title>

<style type="text/css">
	body
	{
		font-size:12px;
		font-family:"宋体";
	}
	h3
	{
		font-size:16px;
		font-family:"宋体";
	}
</style>

</head>

<body>

	<h3> 代金券使用规则 </h3>

	<p>
		1、本代金券用于在商消乐APP上使用；<br />
		2、新用户注册成功后，将赠送总额为500元代金券，在“我的钱包”内可查看；<br />
		3、每次充值只能使用一张代金券，且只能抵用充值总额的10%；<br />
		4、每张代金券都有固定有效期，逾期作废；<br />
		5、本代金券在商消乐上注册的所有商家都可用，但须在代金券规定的有效期内使用；<br />
		6、本代金券不设找零，不兑换现金。<br />
		7、本活动截止到2016年12月31日。<br />
	</p>

</body>


</html>
