<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{$title}</title>
<link rel="stylesheet" href="__PUBLIC__/css/admin/global.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin/style.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin/AD.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin/addUserstyle.css">


<script src="__PUBLIC__/js/admin/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/js/admin/script.js"></script>
<script src="__PUBLIC__/js/admin/pages.js"></script>
<script src="__PUBLIC__/js/admin/Ad.js"></script>
<script src="__PUBLIC__/js/admin/jquery.leanModal.min.js"></script>

<script>
$(function(){
	setInterval('showtime(\'.timebar\')',1000);
})
</script>
</head>

<body>
<div class="header">
	<div class="headbar">
		<img src="__PUBLIC__/image/admin/logo.png" />
		<img src="__PUBLIC__/image/admin/title.png" />
	</div>
	<label class="timebar">2016-06-18 00:00:30</label>
</div>

