<!DOCTYPE html>

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>注册成功</title>
	<link rel="stylesheet" href="__PUBLIC__/css/share/common.css" />
	<link href="__PUBLIC__/css/share/download.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/js/share/register.js"></script>

</head>

<body>

	<div class="back_image">
		<img src="__PUBLIC__/image/shareNew/bgSuess.png" height="100%" width="100%" />
	</div>

	<div class="download_box">

		<a href="https://itunes.apple.com/cn/app/shang-xiao-le/id1130860710?mt=8" class="button_style_apple">
			<img class="icon_d" src="__PUBLIC__/image/shareNew/IOS.png" id="icon" />
			<!--<span>Apple下载地址</span>-->
		</a>

		<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.example.vipcard" class="button_style_android">
			<img class="icon_d" src="__PUBLIC__/image/shareNew/AN.png" id="link" />
			<!--<span>Android下载地址</span>-->
		</a>
	</div>

</body>

</html>