<ion-view view-title='我的钱包'>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="goBack()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">我的钱包</h1>
    	<a class='corf button bge2' href='#/detail'>明细</a>
	</ion-header-bar>
	<ion-content class="myBao" scroll="false">
			<div class="myBaoHead">
				<div class="myBaoName">
					商消乐钱包余额:
				</div>
				<div class="myBaoSum">{{balance.remain}}</div>
			</div>
			<div class="myBaoBody">
				<a class='myBaoItemBox' href='#/recharge'>
	      			<span class="myBaoItem">充值</span>
	      			<i class="icon ion-ios-arrow-right myBaoRht"></i>
				</a>
				<div class='myBaoItemBox' ng-click='goPage(page)'>
					<span class="myBaoItem">提现</span>
	      			<i class="icon ion-ios-arrow-right myBaoRht"></i>
				</div>
				<a class='myBaoItemBox' href='#/redpage'>
					<span class="myBaoItem">红包</span>
	      			<i class="icon ion-ios-arrow-right myBaoRht"></i>
				</a>
			</div>
	</ion-content>
</ion-view>
