<ion-view>
	<ion-content class='cardBox bgf0'>
		<div class='cardUnit'>
			<a class='cardCont' href="#/card/1">
				<div class='cardName bgcc'>
					<p class='fn22'>储值卡(普卡)</p>
				    <span class='fn20 trt'>余额：997</span>
				</div>
				<div class='cardBtn'>
					<span class='cor0'>商消乐</span>
					<span class='payMoney bgcc'>付款</span>
				</div>
			</a>
		</div>
		<div class='cardUnit'>
			<a class='cardCont' href="#/card/2">
				<div class='cardName bgdc'>
					<p class='fn22'>储值卡(普卡)</p>
				    <span class='fn20 trt'>余额：997</span>
				</div>
				<div class='cardBtn'>
					<span class='cor0'>商消乐</span>
					<span class='payMoney bgdc'>付款</span>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>