<ion-view>
	<ion-content class='cardBox bgf0'>
		<div class='cardUnit' ng-repeat='card in mebShare'>
			<a class='cardCont' href="#/card/{{card.card_code}}">
				<div class='cardName' style="background:{{card.card_temp_color}}">
					<p class='fn22'>{{card.card_type}}({{card.card_level}})</p>
				    <span class='fn20 trt'>余额：{{card.card_remain}}</span>
				</div>
				<div class='cardBtn'>
					<span class='cor0'>{{card.store}}</span>
				</div>
			</a>
			<a class='payMoney' href='#/setment' style="background:{{card.card_temp_color}}">付款</a>
		</div>
	</ion-content>
</ion-view>

