<ion-view>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">升 级</h1>
	</ion-header-bar>
	<ion-content class='bgf0'>
		<ul class='myPay mtp1'>
			<li class='payStyle  bgff plt2 prt2'>
				<a href="###" class='cor0'>
					<span class='plt1'>卡片升级</span>
					<span class='plt2'>普卡</span>
				</a>
				<i class="icon ion-ios-arrow-right corc3 fn20"></i>
			</li>
			<li class='payStyle bgff plt2 prt2'>
				<div>
					<span class='plt1'>充值金额(￥)</span>
					<span class='plt1'>0.00</span>
				</div>
			</li>
		</ul>
		<div class='xuBtn'>
				<a href="###" class='bge2 corf'>立 即 升 级</a>
		</div>
	</ion-content>
</ion-view>
