<ion-view>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">我要预约</h1>
    	<a class='corf button bge2' href="###">查看</a>
	</ion-header-bar>
	<ion-content class='bgf0'>
		<ul class='myPay mtp1'>
			<li class='payStyle  bgff plt2 prt2'>
				<a href="###" class='cor0'>
					<span class='plt1'>预约项目</span>
					<span class='plt2 cord7'>选择预约项目</span>
				</a>
				<i class="icon ion-ios-arrow-right corc3 fn20"></i>
			</li>
			<li class='payStyle bgff plt2 prt2'>
				<a href="###" class='cor0'>
					<span class='plt1'>预约日期</span>
					<span class='plt2 cord7'>选择预约日期</span>
				</a>
				<i class="icon ion-ios-arrow-right corc3 fn20"></i>
			</li>
			<li class='payStyle bgff plt2 prt2'>
				<a href="###" class='cor0'>
					<span class='plt1'>预约时间</span>
					<span class='plt2 cord7'>选择预约时间</span>
				</a>
				<i class="icon ion-ios-arrow-right corc3 fn20"></i>
			</li>
		</ul>
		<div class='xuBtn'>
				<a href="###" class='bge2 corf'>提 交 预 约</a>
		</div>
	</ion-content>
</ion-view>
