<ion-view>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">会员卡分享</h1>
	</ion-header-bar>
	<ion-content class='attor bgf0'>
		<div class='attInfo plt2 bgff mtp1'>
			<div class='itemMess'>
				<span class='attName'>会员卡编号</span>
				<span class='plt1'>{{id.card_code}}</span>
			</div>
			<div class='itemMess'>
				<span class='attName'>会员卡类型</span>
				<span class='plt1'>{{id.card_type}}</span>
			</div>
			<div class='itemMess'>
				<span class='attName'>会员卡级别</span>
				<span class='plt1'>{{id.card_level}}</span>
			</div>
			<div class='itemMess'>
				<span class='attName'>手续费率(%)</span>
				<input class='fontNum' type='number' placeholder="最高手续费率不超过{{100-id.rule}}" ng-model='data.num'>
			</div>
			<div class='xuBtn mtp2 mbm2'>
				<div class='nextGo bge2 corf' ng-click='goPage(id,data.num,"分享")'>确 定 分 享</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>