
<ion-view>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">修改{{useItem}}</h1>
    	<div class='corf button bge2' ng-click='setCheck(data.secet)'>完成</div>
	</ion-header-bar>
	<ion-content class='bgf0'>
			<div class="list mtp2" ng-if="page=='0'">
				<label class="item item-input item-select">
					<div class="input-label tce">
						性别
					</div>
					<select ng-model='data.secet'>
						<option selected>请选择</option>
						<option>男</option>
						<option>女</option>
					</select>
				</label>
			</div>
			<div class="list mtp2" ng-if="page=='1'">
				<label class="item item-input item-select">
					<div class="input-label tce">
						教育
					</div>
					<select ng-model='data.secet'>
						<option selected>请选择</option>
						<option>小学</option>
						<option>初中</option>
						<option>高中</option>
						<option>大专</option>
						<option>本科</option>
						<option>硕士</option>
						<option>博士</option>
						<option>其他</option>
					</select>
				</label>
			</div>
			<div class="list mtp2" ng-if="page=='2'">
				<label class="item item-input item-select">
					<div class="input-label tce">
						婚姻
					</div>
					<select ng-model='data.secet'>
						<option selected>请选择</option>
						<option>已婚</option>
						<option selected>单身</option>
					</select>
				</label>
			</div>
	</ion-content>
</ion-view>
