<ion-view>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">登 录</h1>
    	<a class='corf button bge2' href="#/zhuce">注 册</a>
	</ion-header-bar>
	<ion-content>
		<div class='info mtp5'>
			<div class='setPhone bort borb plt1 prt1'>
				<span class='beSide'><i class='iconfont fontImg'>&#xe683;</i></span>
				<input type="tel" id='phone' ng-model='loginData.phone' placeholder="手 机 号"/>
			</div>
			<div class='setPassWord borb plt1 prt1'>
				<span class='beSide'><i class='iconfont fontImg'>&#xe759;</i></span>
				<input type="passWord" id='passWord' ng-model='loginData.passWode' placeholder="密 码"/>
			</div>
			<div class='entryBtn mtp5'>
				<input type="button" id='entry' ng-click='entry(loginData.phone,loginData.passWode)' value="登 录"/>
			</div>
			<!-- <div class='last mtp1 fn12'>
				<div class='lastPass'><input type="checkbox" />记住密码</div>
			   <div ng-click="modal.show()">忘记密码？</div>
			</div>-->
		</div>
	</ion-content>
</ion-view>
<!--<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bge2 ">
          <button class="button bge2 corf" ng-click="modal.hide()">返 回</button>
          <h1 class="title corf">忘记密码</h1>
        </ion-header-bar>
        <ion-content class="padding bgcc">
          <div>
              <input type="text" class='inputStyle' placeholder="手机号码">
          </div>
          <div class='mtp2'>
          	<span>用户信息</span>
          	<div class='mtp1'>
          		<input type="text" class='inputStyle' placeholder="真实姓名"/>
          	</div>
          	<div class='mtp1'>
          		<input type="text" class='inputStyle' placeholder="身份证号码"/>
          	</div>
          	<div class='lastInfo mtp1'>
          		<input type="text" class='checkMess' placeholder="短信验证码"/>
          		<span class='getMessCode tce'>获取短信验证码</span>
          	</div>
          </div>
          <div class='nextStep'>
          	<a href="###">下一步</a>
          </div> 
        </ion-content>
      </ion-modal-view>
    </script>-->