<ion-view  class='cardBoxStyle'>
 	<ion-header-bar align-title="center">
	    <div class="buttons">
	        <button class="button bgff" ng-click="back()">
	            <i class="icon ion-chevron-left cor73"></i>
	        </button>
	    </div>
    	<h1 class="title cor3">会员卡</h1>
	</ion-header-bar>
	<ion-content class='cardInfoBox' scroll="false">
		<div class="cardShowBox">
			<div class="cardShow">
				<div class="cardFace" style="background:{{cardData.card_temp_color}}">
					<div class="cardHead">
						<div class="cardHeadName">{{cardData.store}}</div>
						<div class="cardHeadStyle">{{cardData.card_type}}({{cardData.card_level}})</div>
					</div>
					<div class="cardBody">
						<div class="cardImgBox">
							<img class="cardImg" src="img/vip.png"/>
						</div>
					</div>
					<div class="cardFoot">
						<span class="cardFootRate">{{cardRate}}</span>
						<span class="cardFootSum">{{cardFont}}&nbsp;{{cardNumber}}</span>
					</div>
				</div>
				<div class="cardInfo">
					<div class="cardInfoUpter">
						<div class="fn16 cor33">{{cardData.card_type}}({{cardData.card_level}})</div>
						<div class="fn14 cor33">有效期</div>
						<div class="fn12 cor58">{{cardDateStart}}——{{cardDateEnd}}</div>
					</div>
					<div class="cardInfoUnder">
						<div class="cardUnderHead">包含项目</div>
						<div class="cardUnderCont">{{cardContainItem}}</div>
						<div class="cardUnderBox">
							<a class="cardStore" href="#/facts/{{cardData.merchant}}">
								<div class="cardNameBox">
									<i class="iconfont core7 fn12">&#xe602;</i>
									<span class="cardNameStyle">{{cardData.store}}</span>
								</div>
								<i class="icon ion-chevron-right cardGoStore"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cardFont">
				<div class="cardFontHead">
					<div class="showBox" ng-click="showInfo()">
						<div class="goShowBox">
							<img class="goShow" src="img/touBg.png"/>
						</div>
						<div class="redBtnBox">
							<img class="redBtn" src="img/under.png"/>
						</div>
					</div>
					<div class="payBox">
						<div class="goPay" ng-click="cardPay(cardData)">付款</div>
					</div>
				</div>
				<ion-scroll class="cardFontBody" scrollbar-y="false">
					<div class='cardItem' ng-click="goPage('recard',cardData)">
						<div>
							<i class="iconfont core8">&#xe64c;</i>
		      				<span class="cor33 fn14 plt1">我要续卡</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goUpter(cardData)">
						<div>
							<i class="iconfont cord5">&#xe635;</i>
		      				<span class="cor33 fn14 plt1">我要升级</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goPage('order',cardData)">
						<div>
							<i class="iconfont cor10">&#xeab8;</i>
		      				<span class="cor33 fn14 plt1">我要预约</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goPage('family',cardData)">
						<div>
							<i class="iconfont core7">&#xe66f;</i>
		      				<span class="cor33 fn14 plt1">家庭共享</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goAttornPage(cardData)">
						<div>
							<i class="iconfont cordc">&#xe607;</i>
		      				<span class="cor33 fn14 plt1">卡片转让</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goSharePage(cardData)">
						<div>
							<i class="iconfont corea">&#xea58;</i>
		      				<span class="cor33 fn14 plt1">我要分享</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goClaim(cardData)">
						<div>
							<i class="iconfont cor10">&#xe69b;</i>
		      				<span class="cor33 fn14 plt1">投诉理赔</span>
						</div>
						<div>
							<span class="claimState">{{cardData.claim_state | claimState}}</span>
		      				<i class="icon ion-ios-arrow-right cord7"></i>
		      			</div>
					</div>
				</ion-scroll>
			</div>
		</div>
	</ion-content>
</ion-view>
