<!--header start-->
<include file="Public/header"/>
<!--header end-->

<!--menu start-->
<include file="Public/menu"/>
<!--menu end-->

<div class="wrapper clearfix">
	<!--side start-->
	<include file="Public/side"/>
	<!--side end-->
	<div class="container">
		<!--content start-->
		<div class="con">
			<table class="table margt20">
			  <tr class="tb-tit">
			    <td>公司名称</td>
			    <td>法人</td>
			    <td>审核时间</td>
			    <td>外派人员</td>
			    <td>审核状态</td>
			  </tr>
			  <tr>
			    <td>陕西XXXXXXXX有限公司</td>
			    <td>王中立</td>
			    <td>2017年01月04日</td>
			    <td>-----</td>
			    <td><a href="" class="abtn abtn-nbd abtn-org">内审未通过</a></td>
			  </tr>
			  <tr>
			    <td>陕西XXXXXXXX有限公司</td>
			    <td>王中立</td>
			    <td>2017年01月04日</td>
			    <td>李震</td>
			    <td><a href="" class="abtn abtn-nbd abtn-org">外审未通过</a></td>
			  </tr>
			  <tr>
			    <td>陕西XXXXXXXX有限公司</td>
			    <td>王中立</td>
			    <td>2017年01月04日</td>
			    <td>-----</td>
			    <td><a href="" class="abtn abtn-nbd abtn-green">审核通过</a></td>
			  </tr>
			</table>
			<div class="pagebar">
				<div class="pagewrap">
					<b class="pagenum">
						<a class="prev" onclick="javascript:dopage(&quot;2&amp;glysz&amp;glysz&quot;)">
							<img src="__PUBLIC__/image/admin/prev.png" class="img-pg" />
						</a>
	        			<a class="current">1</a>
	        			<a class="num" onclick="javascript:dopage(&quot;2&amp;glysz&amp;glysz&quot;)">2</a>
	        			<a class="next" onclick="javascript:dopage(&quot;2&amp;glysz&amp;glysz&quot;)">
	        				<img src="__PUBLIC__/image/admin/next.png" class="img-pg" />
	        			</a>
	        		</b>
	        		<b>
	        			共5个管理员
	        		</b>
        		</div>
			</div>
		</div>
		<!--content end-->
	</div>
</div>
<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->

