<!--header start-->
<include file="Public/header"/>
<!--header end-->

<!--menu start-->
<include file="Public/menu"/>
<!--menu end-->

<div class="wrapper clearfix">
	<!--side start-->
	<include file="Public/side"/>
	<!--side end-->
	<div class="container">
		<!--content start-->
		<div class="con">
			<table class="table margt20">
			  <tr class="tb-tit">
			    <td>&nbsp;</td>
			    <td>公司名称</td>
			    <td>法人</td>
			    <td>申请时间</td>
			    <td>&nbsp;</td>
			  </tr>
			  <tr>
			    <td>1.</td>
			    <td>xxxxxxxxxxxxxxx</td>
			    <td>xxxxx</td>
			    <td>2016年6月23日</td>
			    <td><a href="" class="abtn abtn-fc">开始审核</a></td>
			  </tr>
			  <tr>
			    <td>2.</td>
			    <td>xxxxxxxxxxxxxxx</td>
			    <td>xxxxx</td>
			    <td>2016年6月23日</td>
			    <td><a href="" class="abtn abtn-fc">开始审核</a></td>
			  </tr>
			  <tr>
			    <td>3.</td>
			    <td>xxxxxxxxxxxxxxx</td>
			    <td>xxxxx</td>
			    <td>2016年6月23日</td>
			    <td><a href="aaa.html" class="abtn abtn-fc">开始审核</a></td>
			  </tr>
			</table>
			<div class="pagebar">
				<div class="pagewrap">
					<b class="pagenum">
						<a class="prev" onclick="javascript:dopage(&quot;2&amp;glysz&amp;glysz&quot;)">
							<img src="__PUBLIC__/image/admin/prev.png" class="img-pg" />
						</a>
	        			<a class="current">1</a>
	        			<a class="num" onclick="javascript:dopage(&quot;2&amp;glysz&amp;glysz&quot;)">2</a>
	        			<a class="next" onclick="javascript:dopage(&quot;2&amp;glysz&amp;glysz&quot;)">
	        				<img src="__PUBLIC__/image/admin/next.png" class="img-pg" />
	        			</a>
	        		</b>
	        		<b>
	        			共5个管理员
	        		</b>
        		</div>
			</div>
		</div>
		<!--content end-->
	</div>
</div>

<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->
