<ion-view  class='cardBoxStyle'>
 	<ion-header-bar align-title="center">
	    <div class="buttons">
	        <button class="button bgff" ng-click="back()">
	            <i class="icon ion-chevron-left cor73"></i>
	        </button>
	    </div>
    	<h1 class="title cor3">会员卡</h1>
	</ion-header-bar>
	<ion-content class='cardInfoBox' scroll="false">
		<div class="cardShowBox">
			<div class="cardShow" ng-repeat="card in cardData">
				<div class="cardFace" style="background:{{card.card_temp_color}}">
					<div class="cardHead">
						<div class="cardHeadName">{{card.store}}</div>
						<div class="cardHeadStyle">{{card.card_type}}</div>
					</div>
					<div class="cardBody">
						<div class="cardImgBox">
							<img class="cardImg" src="img/vip.png"/>
						</div>
					</div>
					<div class="cardFoot">
						<span class="cardFootRate"></span>
						<span class="cardFootSum">余额:&nbsp;{{card.card_remain}}</span>
					</div>
				</div>
				<div class="cardInfo">
					<div class="cardInfoUpter">
						<div class="fn16 cor33">卡片详情</div>
						<div class="fn14 cor33">有效期</div>
						<div class="fn12 cor58">{{cardTerm}}</div>
					</div>
					<div class="cardInfoUnder">
						<div class="cardUnderHead">包含项目</div>
						<div class="cardUnderCont" ng-if="flag=='0'">店内精华项目可体验一次。</div>
						<ion-scroll class="cardUnderCont" ng-if="flag=='1'" scrollbar-y="true">
							<div class="cardItemList" ng-repeat="item in packageData">
								<span>{{item.name}}</span>
								<span>{{item.price}}元/次</span>
								<span>可用({{item.option_count}}次)</span>
							</div>
						</ion-scroll>
						<div class="cardUnderBox">
							<a class="cardStore" href="#/facts/{{cardData.merchant}}">
								<div class="cardNameBox">
									<i class="iconfont core7 fn12">&#xe602;</i>
									<span class="cardNameStyle">{{card.store}}</span>
								</div>
								<i class="icon ion-chevron-right cardGoStore"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cardFont">
				<div class="cardFontHead">
					<div class="showBox" ng-click="showInfo()">
						<div class="goShowBox">
							<img class="goShow" src="img/touBg.png"/>
						</div>
						<div class="redBtnBox">
							<img class="redBtn" src="img/under.png"/>
						</div>
					</div>
					<div class="payBox">
						<div class="goPay" ng-click="cardPay(card)">付款</div>
					</div>
				</div>
				<div class="cardFontBody">
					<div class='cardItem' ng-click="goOrder(card)">
						<div>
							<i class="iconfont cor10">&#xeab8;</i>
		      				<span class="cor33 fn14 plt1">我要预约</span>
						</div>
		      			<i class="icon ion-ios-arrow-right cord7"></i>
					</div>
					<div class='cardItem' ng-click="goClaim(card)">
						<div>
							<i class="iconfont cor10">&#xe69b;</i>
		      				<span class="cor33 fn14 plt1">投诉理赔</span>
						</div>
		      			<div>
							<span class="claimState">{{card.claim_state | claimState}}</span>
		      				<i class="icon ion-ios-arrow-right cord7"></i>
		      			</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>