<ion-view>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">我要预约</h1>
    	<a class='corf button bge2' href="#/bespeak/{{muid}}/{{uuid}}">查看</a>
	</ion-header-bar>
	<ion-content class='bgf0'>
		<ul class='myPay mtp1'>
			<li class="list">
				<label class="item item-input item-select">
					<div class="input-label tce">
						预约项目
					</div>
					<select ng-model='data.secet'>
						<option>选择预约项目</option>
						<option ng-repeat='unit in getItem'>{{unit.name}}</option>
					</select>
				</label>
			</li>
			<li class="setItem bgff">
				<span class='sideLeft plt15'>预约日期</span>
	        	<time-picker  class='sideRight plt3' hidetime="true" yearstart="2017" yearend="2019" time-picker-result="data.result" format="yyyy-MM-dd ">
	        </li>
			<li class="list">
				<label class="item item-input item-select">
					<div class="input-label tce">
						预约时间
					</div>
					<select ng-model='data.sectime'>
						<option selected>选择预约时间</option>
						<option>09:00-10:00</option>
						<option>10:00-11:00</option>
						<option>11:00-12:00</option>
						<option>12:00-13:00</option>
						<option>13:00-14:00</option>
						<option>14:00-15:00</option>
						<option>16:00-17:00</option>
						<option>17:00-18:00</option>
					</select>
				</label>
			</li>
		</ul>
		<div class='xuBtn'>
			<div class='nextGo bge2 corf' ng-click="setSubmit(data.secet,data.result,data.sectime)">提 交 预 约</div>
		</div>
	</ion-content>
</ion-view>
