<ion-view>
 	<ion-header-bar align-title="center">
	    <div class="buttons">
	        <button class="button bgff" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title">积分知识</h1>
	</ion-header-bar>
	<ion-content class='knowLedge' scroll="false">
		<div class="knowBox">
			<div class="knowHead">如何获取商消乐积分</div>
			<div class="knowBody">
				<p class="term">1)完善个人信息，送20积分;</p>
				<p class="term">2)签到送20积分，连续签到7天当天送50积分;</p>
				<p class="term">3)消费1元送1个积分;</p>
				<p class="term">4)每分享一次可得20积分，每天最多5次;</p>
				<p class="term">5)每推荐一位用户注册，送500积分；推荐新用户注册同时送5元红包;</p>
				<p class="term">6)每推荐一位商户入驻，送10000积分；推荐商户入驻同时送50元红包;</p>
				<p class="term">7)评价一次可得5积分;每消费1次享有1次评论送积分机会。</p>
				<p class="knowBottom">备注：以上积分按单次计算，累计可叠加。</p>
			</div>
			<div class="knowHead">商消乐积分有什么用？</div>
			<div class="knowBody">
				<p class="term">用户获取商消乐积分后，可在APP首页"会员中心"和我的"积分商城"中查询;</p>
				<p class="term">1)抵用现金:在商消乐购买产品时,系统显示是否使用积分及最大可使用积分数(100积分=1元);</p>
				<p class="term">2)在"会员中心"的"积分商城"中可兑换商品。</p>
			</div>
			<div class="knowHead">特别提醒</div>
			<div class="knowBody">
				<p class="term">1)积分可以累积，有效期至次年年底，逾期自动作废(例如商消乐积分获取时间为2017年5月31日，有效期至2018年12月31日,过期作废);</p>
				<p class="term">2)积分不能兑现，不可转让。</p>
			</div>
		</div>
	</ion-content>
</ion-view>