<!--    页面头部        -->
<include file = "Public/header" />
<!--	资源文件	-->
<link rel="stylesheet" href="__PUBLIC__/css/merchant/money.css" />
<div class="container clearfix">
	<!--        左侧菜单        -->
    <include file = "Public/menu" />
    <div class="con">
    	<div class="navinfo"><img src="__PUBLIC__/image/merchant/qrcode.png" style="width:30px;height:30px" id="ihy"/>&nbsp;&nbsp;收款码</div>
		
    	<div style="height: 240px; text-align:center;padding-top:50px">
			<img src="{$qrcode}" id="view" />		
    	</div>
    </div>	
</div>
<!--    页面尾部        -->
<include file = "Public/footer" />
	
