<!--    页面头部        -->
<include file = "Public/header" />
<!--	资源文件	-->
<link rel="stylesheet" href="__PUBLIC__/css/merchant/money.css" />

<div class="container clearfix">
	<!--        左侧菜单        -->
    <include file = "Public/menu" />
    
    <div class="con">
    	
    	<div class="navinfo"><img src="__PUBLIC__/image/merchant/xjrz.png" style="width:30px;height:30px" id="ihy"/>&nbsp;&nbsp;现金入账</div>
    	
    	<div style="text-align: center;padding-top: 50px;">
	    	<form method="post" action="submit" >
		    	<div style="margin-right: 235px;">
		    		<span class="kl">支付金额</span>
		    		<input class="zf" name="sum" type="text" value="" placeholder="&nbsp;&nbsp;&nbsp;请输入金额"/>
		    	</div>
	    	
	    	
	    		<div>
	    		<input type="submit" value="提交" class="tj"/>
	    		</div>
	    	</form>
    	</div>
    	
    	<div style="height: 240px;">
    		
    	</div>

    </div>
		
</div>



<!--    页面尾部        -->
<include file = "Public/footer" />
