<ion-view  class='myBox'>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">我的资料</h1>
	</ion-header-bar>
 	<ion-content class='main'>
		<div class='myShow1 plt2'>
			<a class='myShowImg' ng-click='show()'>
				<img src="http://www.runoob.com/try/demo_source/venkman.jpg">
				<span>
      				<b class='prt2'>修改头像</b>
      				<i class="icon ion-ios-arrow-right cord7"></i>
				</span>
			</a>
			<a>
				<span>
					<span class='fn16'>昵称</span>
      				<b>晴天小秀才</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>地址</span>
      				<b>未设置</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>手机号码</span>
      				<b>13030303300</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>邮箱</span>
      				<b>未设置</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>性别</span>
      				<b>未设置</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>生日</span>
      				<b>未设置</b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>职业</span>
      				<b></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>教育</span>
      				<b></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>婚姻</span>
      				<b></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>爱好</span>
      				<b></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
			<a>
				<span>
					<span class='fn16'>修改密码</span>
      				<b></b>
				</span>
      			<i class="icon ion-ios-arrow-right cord7"></i>
			</a>
		</div>
		<div class='last tce'>
			<a href="###" class='myChu'>退 出 当 前 账 号</a>
		</div>
	</ion-content>
</ion-view>