<ion-view>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">注 册</h1>
	</ion-header-bar>
	<ion-content>
		<form action="" class='info mtp5'>
			<div class='setPhone bort borb plt1 prt1'>
				<input type="text" name='phone' id='phone' placeholder="请输入您的手机号" required=""/>
				<span class='getCode'>获取验证码</span>
			</div>
			<div class='setCode borb plt1'>
				<input type="text" name='checkcode' id='checkCode' placeholder="请输入您的验证码" required=""/>
			</div>
			<div class='setPassWord borb plt1'>
				<input type="text" name='password' id='passWord' placeholder="请输入您的密码(6位以上字母数字组合)" required=""/>
			</div>
			<div class='setPassWord borb plt1'>
				<input type="text" name='reword' id='reWord' placeholder="请重复密码" required=""/>
			</div>
			<div class='entryBtn mtp1'>
				<input type="submit" id='entry' value="注 册"/>
			</div>
		</form>
	</ion-content>
</ion-view>