<ion-view view-title='首页' class='classBox'>
	<ion-header-bar class="bar botLine" align-title="center">
		<div class="buttons">
	        <button class="button bgff" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title">{{trade}}</h1>
	</ion-header-bar>
	<ion-content class="contBox">
		 <!--下拉刷新-->  
		<ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()"></ion-refresher>
		<div class='groom'>
			<div class='groomContainer'>
				<div class='groomBox' ng-repeat='str in vm.messages | orderBy:"distance"'>
					<a href="#/facts/{{str.muid}}" class='groomList'>
						<div class="groomLeft">
							<img class='groomImg' ng-src="../../Public/Uploads/addImage/{{str.image_url}}"/>
						</div>
						<div class="groomRght">
							<p class='groomNameBox'>
								<span class="groomName">{{str.store}}</span>
								<span class='groomRange'>距离{{str | numRang}}km</span>
							</p>
							<p class='groomCoupon'>
								<span class='groomStore'>
									<i class='break'>折</i>
									<i class='present'>赠</i>
									<i class='ticket'>券</i>
								</span>
							</p>
							<p class='groomInfo'>
							   <span star rating-value="str.stars" max="max" readonly="true"></span>&nbsp;|&nbsp;<span class='sale'>已售{{str.sold}}笔</span>
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
      <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
    <!--<ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>-->
	</ion-content>
</ion-view>
