<ion-view view-title='商铺信息' class='shopPuInfo'>
	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">商铺信息</h1>
	</ion-header-bar>
	<ion-content class='info'>
		<div class='imgInfo'>
			<div class='imgTop'>
				<img ng-src="../../Public/Uploads/addImage/{{storeInfo.image_url}}"/>
			</div>
			<ul class='one'>
				<li class='storeName fn16'>{{storeInfo.store}}</li>
				<li class='storeInfo'>
					<img class='wuXing' src="img/sx2.jpg"/>
					<span class='coff'>{{storeInfo.stars}}</span>
					<span class='fn14 plt1'>已售：{{storeInfo.sold}}</span>
				</li>
				<li class='storeAdd'>
					<img class='imgCun' src="img/sx4.jpg"/>
					<span class='addInfo fn12'>{{storeInfo.address}}</span>
				</li>
			</ul>
			<div class='may' ng-if='storeInfo.card_list.length>=1'>
			   <h3 class="mayTop tce fn16">会员卡</h3>
			   <ul class='mayInfo pbm1'>
				   	<li class='ptp1 pbm1' ng-repeat='ncard in storeInfo.card_list'>
				   		<div class='useCard'>
				   			<div class='cardImg'>
				   				<p class='cardShow' style='background:{{ncard.card_temp_color}}; color:#fff;'>
				   					<span class='fn20'>VIP</span><span class='fn12'>{{ncard.level}}</span>
				   				</p>
				   				<p class='cardf'></p>
				   			</div>
				   			<div class='useCardInfo'>	
					   			<p class='cor3a fn16'>{{ncard.content}}</p>
					   			<p class='cor92 fn12'>有效期：无期限({{ncard.type}})</p>
				   			</div>
				   		</div>
				   		<div class='maySay'>
					   		<p class='fn14 corfd'>￥{{ncard.price}}</p>
					   		<p class='cor66 fn12'>{{ncard.type=="计次卡" ? ncard.rule+"次":ncard.rule/10+'折'}}</p>
				   		</div>	
				   	</li>
			   </ul>
		      <!-- <div class='btn fn12 cor66 tce mtp15 lht36' ng-if='storeInfo.card_list.length>2'>
			       	<span>查看更多</span>
			       	<i class="icon ion-chevron-down"></i>
		       </div>-->
			</div>
			<div class='allShop'>
				<h3 class='shopHead tce fn16 lht2'>全部商品</h3>
				<ion-scroll class='allSide' direction='x'>
					<div class='sideBox'>
						<div class='sideShow' ng-repeat="goods in storeInfo.commodity_list">
							<img ng-src="../../Public/Uploads/addImage/{{goods.image_url}}" alt='头像'/>
							<div class='fontShow tce fn12'>
								<p>{{goods.name}}</p>
								<p class='corfd'>￥{{goods.price}}</p>
							</div>
						</div>
					</div>
					<!--<div class='tce' ng-if='storeInfo.commodity_list.length=0'>
						<p>本店暂无商品</p>
					</div>-->
				</ion-scroll>
			</div>	
			<div class='shopInfo'>
				<div class='storeHead tce'>
					<a class='stor fn16 lht2' href='#/storeInfo'>商家详情</a>
					<i class="icon ion-ios-arrow-right cord7 prt1"></i>
				</div>
				
				<p class='fontInfo fn12 ptp1 pbm1'>{{storeInfo.intro==null ? '暂无详情，敬请期待' : storeInfo.intro}}</p>
				<!--JY造型2008年4月在青岛成立，两位有相同梦想的人师从(VIDALL SAAAOONO)技术总监两年之久。经过不懈努力和敏锐的时尚理念。将JY打造成美发行业一线品牌。-->
				<div class='shopBao fn12 lht36'>
					<p>
						<i class="icon ion-ios-checkmark-outline assertive"></i>
						<span>消协全面监督</span>
					</p>
			      	<p>
			      		<i class="icon ion-ios-checkmark-outline assertive"></i>
						<span>第三方资金委托</span>
			      	</p>
			      	<p>
			      		<i class="icon ion-ios-checkmark-outline assertive"></i>
						<span>中国人保</span>
			      	</p>
				</div>
			</div>
			<div class='manSay'>
				<h3 class='tce fn16 lht2'>会员口碑</h3>
				<div class='bort borb fn12 ptp1 pbm1' ng-repeat='say in storeInfo.evaluate_list'>
					<h3 class='fn14 lht2'>
						<img class='manImg' ng-src="../../Public/Uploads/addImage/{{say.card_image_url}}" alt='头像'/>
						<span class='plt1'>{{say.nickname}}</span>
					</h3>
					<p class='ptp1'>{{say.content}}</p>
				</div>
			</div>
			<div class='mayMust'>
				<h3 class='tce fn16 lht2'>购买须知</h3>
				<div class='mayMustInfo bort ptp1 pbm1'>
					<h4 class='topStyle fn14 plt05'>使用时间：</h4>
					<p class='fontMust fn12 ptp05 pbm05 plt1'>{{storeInfo.time}}</p>
					<h4 class='topStyle fn14 plt05'>注意事项：</h4>
					<p class='fontMust fn12 ptp05 pbm05 plt1'>{{storeInfo.notice}}</p>
					<h4 class='topStyle fn14 plt05'>商家电话：</h4>
					<p class='fontMust fn12 ptp05 pbm05 plt1'>{{storeInfo.store_number==""? '暂无' : storeInfo.store_number}} (工作日 10:00-18:00)</p>
					<div class="telStore tce fn16 mtp15 mbm1" ng-click='show({{storeInfo.store_number}})'>联系商家</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class='shopCar'>
			<div class='addCar tce fn16' href="###" ng-click='showPopup()'>立即收藏</div>
			<a class='mayGoods tce fn16' href="#/goods">立即购买</a>
	</ion-footer-bar>
</ion-view>