<ion-view>
 	<ion-header-bar class="bge2" align-title="center">
	    <div class="buttons">
	        <button class="button bge2 corf" ng-click="back()">
	            <i class="icon ion-chevron-left"></i>
	        </button>
	    </div>
    	<h1 class="title corf">图文详情</h1>
	</ion-header-bar>
	<ion-content class='storeBox'>
		<div class='imgInfo'>
			<div class='imgOne'>
				<img ng-src="img/sx3.jpg"/>
				<p class='fontBef'>商消乐</p>
			</div>
			<div class='imgOne mtp05'>
				<img ng-src="img/gz1.jpg"/>
				<p class='fontBef'>测试图文一</p>
			</div>
			<div class='imgTwo mtp05'>
				<div class='fontMessage'>
					<p>多伦多猛龙队法律免费两部门管理部门</p>
				</div>
				<img ng-src="img/sx11.jpg"/>
			</div>
		</div>	
	</ion-content>
</ion-view>