
	body
	{
		/*background-attachment:fixed;*/
		height:auto;
		margin:0;
		
	}

	.back_image
	{
		position:absolute; 
		width:100%; 
		height:100%; 
		z-index:-1;
	}


	.download_box
	{
		position:absolute;
		bottom:20%;
		width:auto;
		height:auto;
		left:20%;
		right:20%;
	}
	

	
	.button_style_apple
	{
		width:100%;
		height:.52rem;
		line-height:.5rem;
		float:left;
		background-color:#fff;
		filter:alpha(opacity=80); 
		-moz-opacity:0.8; 
		opacity:0.8;
		/*border:#e66666 solid 2px;*/
		color:#333333;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:bold;
		font-size:.14rem;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius:4px;
	}
	
	.button_style_android
	{
		width:100%;
		height:.52rem;
		line-height:.5rem;
		float:left;
		margin-top:.2rem;
		background-color:#FFFFFF;
		filter:alpha(opacity=80); 
		-moz-opacity:0.8; 
		opacity:0.8;
		/*border:#00CC33 solid 2px;*/
		color:#333333;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:bold;
		font-size:.14rem;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius:4px;
	}
	
	a
	{
		text-decoration:none;
		text-align:center;
	}
	
	span
	{
		font-family:"黑体";
		font-size:.14rem;
		color:#333333;
		float:left;
		margin-left:.1rem;
		
	}
	.icon_d
	{
		width:100%;
		height:.4rem;
		margin:5px 0;
		float:left;
	}
