
	body
	{
		/*background-attachment:fixed;*/
		margin:0;
		
	}
	
	.mgb{
		margin-bottom:.16rem;
	}
	
	.magt{
		margin-top:.3rem;
	}
	
	
	 .bgf::-webkit-input-placeholder{
		color:#fff;
	}

	.bgf::-ms-input-placeholder{
		color:#fff;
	}



	.back_image
	{
		position:absolute; 
		width:100%; 
		height:100%; 
		z-index:-1;
	}

	.referrer_box
	{
		position:fixed;
		top:30%;
		left:10%;
		width:auto;
		height:auto;
	}

	.head_image
	{
		width:1.2rem;
		height:1.2rem;
		-moz-border-radius: .6rem;
		-webkit-border-radius: .6rem;
		border-radius:.6rem;
	}

	.tip_box
	{
		position:fixed;
		top:32%;
		left:24%;
		width:auto;
		height:auto;
	}
	
	.tip_name
	{
		font-family:"宋体";
		font-size:.36rem;
		color:#009900;
		font-weight:bold;
	}
	.tip_text
	{
		font-family:"宋体";
		font-size:.3rem;
		color:#999999;
		font-weight:bold;
	}
	
	.register_en
	{
		position:absolute;
		bottom:.5rem;
		width:auto;
		height:auto;
		left:35%;
		right:35%;
	}
	
	.button_en
	{
		width:100%;
		height:.8rem;
		background-color:#FF0000;
		color:#FFFFFF;
		font-family:"黑体";
		font-weight:bold;
		font-size:.34rem;
		-moz-border-radius: .25rem;
		-webkit-border-radius: .25rem;
		border-radius:.25rem;
	}
	
	
	
	.register_box
	{
		position:fixed;
		top:30%;
		left:10%;
		width:100%;
		height:auto;
	}
	.input_box
	{
		width:80%;
		height:.5rem;
		border:#e12031 solid 1px;
		background-color:#e12031;
		opacity:1; 
		-moz-border-radius: .1rem;
		-webkit-border-radius: .1rem;
		border-radius:4px;
		
	}
	
	.icon
	{
		margin:.1rem 2px;
		width:.3rem;
		height:.3rem;
		border-right:1px solid #fff;
		vertical-align: middle;
		float:left;
	}
	
	.input_style
	{
		height:100%;
		width:50%;	
		text-indent: 5px;
		background-color:#e12031;
		border:0px;
		font-size:.14rem;
		color:#FFFFFF;
		opacity= 1;
		font-family:"黑体";
		float:left;
	}
	
	input
	{
		outline:none; 
	} 
	
	.input_style_passwd
	{
		height:100%;
		width:85%;	
		text-indent:5px;
		background-color:#e12031;
		font-size:.14rem;
		border:none;
		color:#fff;
		opacity:1;
	}
	
	
	.button_box
	{
		width:80%;
		height:auto;
		margin-top:.3rem;
	}
	
	
	

	
	.button_style_vertify
	{
		float:left;
		width:32%;
		height:80%;
		margin:2% 0;
		padding:0;
		text-align:center;
		background-color:#ccc;
        border:#ccc solid 1px;
		color:#fff;
		font-size:.12rem;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius:2px;
		opacity:1;
	}
	
	
	.button_style_user
	{
		width:45%;
		height:.4rem;
		float:left;
		margin-left:10%;
		background-color:#e12031;
		border:#e5a6ef solid 2px;
		color:#FFFFFF;
		font-size:.16rem;
		-moz-border-radius: .1rem;
		-webkit-border-radius: .1rem;
		border-radius:.1rem;
	}
	
	
	
	
	.button_style_merchant
	{
		width:45%;
		height:.4rem;
		float:left;
		margin-left:0%;
		border:#e5a6ef solid 2px;
		background-color:#e12031;
		color:#FFFFFF;
		font-size:.16rem;
		-moz-border-radius: .1rem;
		-webkit-border-radius: .1rem;
		border-radius:.1rem;
	}
	
	
	.download_box
	{
		position:fixed;
		left:0;
		width:90%;
		height:12%;
		top:.5rem;
		float:left;
		opacity: 0.8;
		background:#111;	
	}	

	.button_style_apple
	{
		width:38%;
		height:.8rem;
		float:left;
		margin-left:10%;
		background-color:#FFFFFF;
		filter:alpha(opacity=80); 
		-moz-opacity:0.8; 
		opacity:0.8;
		border:#CCCCCC solid 2px;
		color:#333333;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:bold;
		font-size:.18rem;
		-moz-border-radius: .25rem;
		-webkit-border-radius: .25rem;
		border-radius:.25rem;
	}
	
	.button_style_android
	{
		width:38%;
		height:.8rem;
		float:left;
		margin-left:10%;
		background-color:#FFFFFF;
		filter:alpha(opacity=80); 
		-moz-opacity:0.8; 
		opacity:0.8;
		border:#CCCCCC solid 2px;
		color:#333333;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:bold;
		font-size:.18rem;
		-moz-border-radius: .25rem;
		-webkit-border-radius: .25rem;
		border-radius:.25rem;
	}
	
	
	
	
	
	span
	{
		
		font-weight:bold;
		font-size:.4rem;
		color:#FFFFFF;
		filter:alpha(opacity=50);
		font-family:"黑体";
	}
	
	a
	{
		text-decoration:none;
		text-align:center;
	}
	
	a:hover
	{
		color:#00CC66;
	}
